# This is a basic workflow to help you get started with Actions

name: test_workflow

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  invader_array:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
  
  defender_action:

      runs-on: windows-latest
      
      steps:

        - uses: actions/checkout@v4
        
        - name: Step 1
          run: echo The defender (player) should be able to shoot multiple bullets continuously.
        
        - name: Step 2 
          run: echo Implement collision detection so that invaders are destroyed when successfully shot by the player
        
        - name: Step 3
          run: echo Player loses a life and respawns (until run out of lives) when shot by an invader.
          
      
  
    
